/*
Theme Name: MyStarter Child
Theme URI: https://github.com/Sgraph65/starterWordpress
Description: Thème enfant minimal basé sur MyStarter pour les personnalisations spécifiques au site.
Author: seb
Author URI: https://github.com/Sgraph65
Template: mystarter
Version: 1.0.0
Requires at least: 6.5
Tested up to: 6.5
Requires PHP: 8.0
Text Domain: mystarter-child
*/

/* Ajoutez vos styles spécifiques au projet ici. */
