@use "../../styles/variables" as *;

.mystarter-block-gallery {
	&__item {
		position: relative;
		border: 1px solid rgba($color-muted, 0.4);
	}

	.components-base-control {
		margin-top: 0.5rem;
	}
}
