@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.mystarter-block-gallery {
	@include responsive-container;

	&__grid {
		display: grid;
		gap: $spacing-unit;
	}

	@for $i from 2 through 6 {
		&.columns-#{$i} .mystarter-block-gallery__grid {
			grid-template-columns: repeat($i, minmax(0, 1fr));
		}
	}

	&__item {
		overflow: hidden;
		border-radius: $border-radius;
		box-shadow: $shadow-soft;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		figcaption {
			padding: 0.75rem 1rem;
			background: rgba($color-text, 0.75);
			color: #fff;
			font-size: 0.9rem;
		}
	}
}
