@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.mystarter-rebound {
	@include responsive-container;

	&__selector {
		margin-bottom: 1.5rem;
	}

	&__options {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	&__grid {
		display: grid;
		gap: 1.75rem;
	}

	@for $i from 2 through 4 {
		&.columns-#{$i} .mystarter-rebound__grid {
			grid-template-columns: repeat($i, minmax(0, 1fr));
		}
	}

	&__item {
		display: grid;
		gap: 1rem;
		padding: 1.5rem;
		border-radius: $border-radius;
		background: #fff;
		box-shadow: $shadow-soft;
	}

	&__media img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		border-radius: $border-radius;
	}

	h3 {
		margin: 0;
		font-size: 1.35rem;
	}
}
