@use "../../styles/variables" as *;

.mystarter-block-image-fullwidth {
	border: 2px solid rgba($color-muted, 0.4);
}

.mystarter-image-fullwidth-picker__button {
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}
