@use "../../styles/variables" as *;

.mystarter-block-image-fullwidth {
	margin: 0;

	img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	&__caption {
		color: $color-muted;
		text-align: center;
		padding: $spacing-unit 0;
	}
}
