@use "styles/variables" as *;

.editor-styles-wrapper {
	color: $color-text;
	background-color: $color-editor-background;
}

.mystarter-placeholder {
	display: inline-block;
	color: rgba($color-muted, 0.8);
	font-style: italic;
}
