/*
Theme Name: MyStarter
Theme URI: http://wordpress-2025.lan:8000/
Description: Thème enfant pour Twenty Twenty-Four.
Author: seb
Template: twentytwentyfour
Version: 1.0.0
Text Domain: mystarter
*/

/* Ajoutez vos styles personnalisés ci-dessous */
